body{
	font-family: 'Nunito', sans-serif;
	background: #212121 url('../img/background.jpg') 0 0/cover no-repeat;
}

.content {
	margin: 0 auto;
}

.content_top {
	width: 100%;
	height: 50px;
	background-color: #212330;
}

.content_top-menu {
}

.content_mid {
	width: 1600px;
	height: 1010px;

	margin: 10px auto;
	padding: 10px 0px 0px 10px;
	background-color: rgba(33, 35, 48, 0.2);
}

/* Настройки для каждой планеты стоит поменять в ".content_mid-nav p:nth-child(*)"; */


/*
.content_mid-nav {
	width: 280px;
	height: 1000px;

	float:left;

	background-color: rgba(33, 35, 68, 0.4);
}

.content_mid-nav h3{
	padding: 20px 0px 0px 40px;
	margin: 10px 0px 30px 0px;

	font-size: 14px;
	color: #e0e0e0;
	text-transform: lowercase;

}

.content_mid-nav p{
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 30px 0px;

	font-size: 14px;
	color: #e0e0e0;
	text-transform: lowercase;
	font-style: italic;
}

.content_mid-nav a{
	color: #e0e0e0;
	text-decoration: none;
}

.content_mid-nav p:nth-child(8){
	text-transform: uppercase;
}


.content_mid-nav p:hover{
	font-size: 15px;
	font-weight: 800;
	color: #c0c0c0;
}

.content_mid-nav p:before{
	content:'';
	width: 10px;
	height: 10px;
	display: inline-block;

	margin: 0px 15px 0px 0px;

	border-radius: 50%;
	background-color: #e0e0e0;

}


.content_mid-nav p:hover:before{
	content:'';
	background-color: #214990;
}

.content_mid-nav p:nth-child(8):before{
	content:'';
	background-color: #904040;
}

*/

.content_mid-text {
	width: 1590px;
	height: 1000px;
	display: inline-block;
	overflow-y: scroll;

	margin: 0 auto;

	background: rgba(24, 24, 24, 0.2);
}

.content_mid-text span{
	display: inline-block;
	margin: 0px 0px 0px 40px;
	padding: 0px 0px 50px 0px;
}

.content_mid-text h1{
	color: #747e7e;
	text-align: center;

	padding: 0px 0px 0px 0px;
	margin: 60px 0px 50px 0px;
}

.content_mid-text p{
	display: inline-block;
	margin: 0px 0px 0px 0px;
}

.content_mid-text p>span{
	font-weight: 700;
	font-style: italic;
}

.content_mid-text h1,p{
	color: #e0e0e0;
}

.content_mid-text_planet-image {
	display: inline-block;
	width: 10%;
	height: 15%;

	margin: 80px 0px 0px 300px;
}

.content_ftr {
	width: 100%;
	height: 110px;
	padding: 0px 10px;
	background-color: #212330;
}

.content_ftr-contacs {
	width: 1200px;
	height: 90px;

	margin: auto;
	padding: 1px;

	color: #e0e0e0;
}

.content_ftr-contacs h4{
	font-size: 12px;
	margin-bottom: 0px;
}

.content_ftr-contacs p{
	display: inline-block;

	border-top: 1px solid #e0e0e0;
	padding: 3px 0px 0px 10px;
	font-size: 10px;
	line-height: 10px;
}

.content_ftr-contacs p>span{
	display: inline-block;
	width: 100px;

	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	padding: 0px 0px 2px 0px;
	font-style: italic;

}

.hr{
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 25px;
}